[Desktop Entry]
Type=Application
Exec=python3 ${HOME}/bin/watch-downtime.py --dark --logfile ${HOME}/downtime.log
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name=Downtime Monitor
Comment=Start the downtime monitor at login if added to ${HOME}/.config/autostart/watch-downtime.desktop, or place it on the desktop by copying to ${HOME}/Desktop/watch-downtime.desktop (Ubuntu)
Icon=${HOME}/.local/share/icons/watch-downtime.png
