[Desktop Entry]
Type=Application
Categories=Utility;Application
Name=Downtime Monitor
Icon=/home/dan/.local/share/icons/watch-downtime.png
Exec=/home/dan/bin/watch-downtime.py --logfile /home/dan/downtime.log --plot --dark --stop
Version=1.0
Terminal=false
Hidden=false
NoDisplay=false
Comment=Start the downtime monitor at login if added to /home/dan/.config/autostart/watch-downtime.desktop, or place it on the desktop by copying to /home/dan/Desktop/watch-downtime.desktop (Ubuntu)
X-GNOME-Autostart-enabled=true
X-GNOME-Autostart-Delay=10
X-MATE-Autostart-Delay=10
X-KDE-autostart-after=panelStartupNotify=false
